<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.linfeng.backend.mapper.MarriedPersonMapper">
    <resultMap id="mpResult" type="marriedPerson">

    </resultMap>

    <select id="selectMarriedPersonByMarriedPerson" resultMap="mpResult">
        select
            *
        from
            t_married_person
        <where>
            <if test="pname != null and pname != ''">
                <bind name="pname" value="'%' + pname + '%'"/>
                and pname like #{pname}
            </if>
            <if test="pphone != null and pphone != ''">
                <bind name="pphone" value="'%' + pphone + '%'"/>
                and pphone like #{pphone}
            </if>
        </where>
    </select>
</mapper>